@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%
}


body{
   background-color: #f4f4f4;

}
header>h1{
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8%;

}
#scoreDiv{
margin-top: 5rem;
text-align: center;
}
#tese{
  
}
#errorIcon{
    display: inline-block;
    width: 45%;
    height: 45%;
}
#rightIcon{
    display: inline-block;
    width: 45%;
    height: 45%;
}
.points{
    display: inline;
    font-size: 2.1rem;
    margin-left: 0.6rem;
    
}
#GroupRightDiv{
    display: inline-block;
    margin-right: 4rem;
}
#GroupErrorDiv{
    display: inline-block;
    margin-left: 4rem;
}
#error{
    
}
#right{

}

#flag{
    margin: auto;
    margin: 60px auto 30px auto;
    display: block;
    width: 55% ;
    height: 55%;
}

#responseInput{
    text-align: left;
    font-size: 1.3rem;
    vertical-align: baseline;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    width: 40%;
    height: 40px;
    border: none;
    border-bottom: 1.2px solid #000000;
    padding: 0 16px;
    color: #000000;
    display: block;
    margin: auto;
    background-color: #f4f4f4 ;
}

#responseInput::placeholder{
    color: rgba(128, 128, 128, 0.572);
}

#submitButton{
    display: none;
    background-color: #f4f4f4 ;
}
#skipButton{
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    background-color: none;
    padding: none;
    margin: 50% auto;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent ;
}